/* switching box model for all elements */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html {font-size: 62.5%;}
body {
	margin: 0;
	background-color: #fff;
	color: #000;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
}
section p {color: #fff; padding: .8em; margin: 0; background: hotpink}
.header {background: #E0CDB1; color: #333}
h1 {
	margin: 0;
	padding: .2em;
	font-size: 1.5em;
}
.header a {color: #333; text-decoration: none;}
p+p {background: orange}
p+p+p {background: maroon}
section ul {margin: 0; padding: .8em 0 .8em 2em; background: #ddd;}

nav ul {
	margin: 0; padding: 0;
	list-style: none;
}
nav label, #toggle-nav {display: none;}


@media (max-width: 640px) {

	/* styling toggle button */	
	nav label {
		cursor: pointer;
		display: block;
		position: absolute;
		top: 4px; right: 6px;
		z-index: 42;
		margin: 0;
		font-size: 26px; 
		display: inline-block;
		padding: 4px 8px;
		background: #000;
		color: #fff;
		line-height: 1;
		font-weight: bold;
		border-radius: 4px;
	}
	nav label:after {
		content: "\2261";		
	}

	/* styling nav */
	nav > ul {
		position: absolute;
			top: 0; left: -80.5%; 
			z-index: 1337;
		width: 80%; max-width: 300px;
		border-right: 1px solid #121214;
		-webkit-transition: left .4s;
		transition: left .4s;
		-webkit-transform: translateZ(0); /* activating hardware acceleration */
		transform: translateZ(0);
	}
	nav a {
		display: block;
		padding: 0.9em;
		background: #555;
		color: #fff;
		text-decoration: none;
		border-bottom: 1px solid #121214;
	}
	nav a:hover, nav a:focus {
		background: #333;
	}
	nav a, nav label {
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}	
	nav > ul li a:not(:only-child):after {
		content: "›";
		float: right;
		font-size: 1.2em;
		color: #fff;
		margin-right: .4em;
		line-height: 1;
	}

	/* styling sub - nav */
	nav ul ul {
		max-height: 25em;
		overflow: hidden;
		-webkit-transition: .4s max-height;
		transition: .4s max-height;
		-webkit-transform: translateZ(0); /* activating hardware acceleration */
		transform: translateZ(0);
	}
	nav li:not(:hover) > ul {
		max-height: 0;
	}
	nav li li a {
		background: #777;
	}

	/* touch event */
	nav input:valid + ul, nav input:checked + ul {
		left: 0;
	}

	
	
		
}


/* orientation */
@media (orientation: landscape) and (max-device-width: 768px) {
	html,
	body {
		-webkit-text-size-adjust: 100%;
	}
	
}